<ion-view view-title="Drake International" >
   
  <ion-nav-title view-title="Drake International">
      <img src="img/drakelogo.jpg">
    </ion-nav-title>
    
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="goBack()">Back</button>
    </ion-nav-buttons>
    
    
  <div class="bar bar-subheader item-input-inset">
       <!--   <ion-search placeholder="Search a user" filter="search"></ion-search> -->
       
    <ion-search 
              class="search-wrapper-light" 
              search-Box="searchBox"  
              placeholder="Search a user" 
              min-length="0" 
              model="users" 
              source="getUsersByName(str)">
    </ion-search>
     <button class="button button-clear" ng-click="goSearch()">Search</button>
 </div>

  <ion-nav-view name="inception"></ion-nav-view>       

  <ion-content  class="has-header has-subheader" >
       
       <a ui-sref="tab.homeNews.testSubState">Link to tab.homeNews.testSubState</a><br>
       <a ui-sref="tab.homeNews.testSubState2">Link to tab.homeNews.testSubState2</a><br>
      <a href="#/tab/homeNews/testSubState">Link to #/tabs/tab2 URL in href</a><br>
      <ion-list>
           
       <ion-item class="item item-thumbnail-left"
               ng-repeat="item in localNews"
               type="item-text-wrap"
               href="#/tab/search/{{item.id}}">
         
       <img ng-src="{{ item.image }}">
              <h2>{{ item.title }}</h2>
              <div style="white-space:  normal">{{ item.shortDescription }}</div>
       </ion-item>
      <ion-item class="item">
         <img class="" ng-src="{{ggetImg('drakelogo.jpg')}}"> 
        
         <h4> Updated on 11:20:22 02/12/2017 Vermont</h4>
     </ion-item>
      </ion-list>
      
     
      

  </ion-content>
</ion-view>
