<ion-view view-title="Drake International">
    
  <div class="bar bar-subheader item-input-inset">
       <!--   <ion-search placeholder="Search a user" filter="search"></ion-search> -->
       
    <ion-search 
              class="search-wrapper-light" 
              search-Box="searchBox"  
              placeholder="Search a user" 
              min-length="0" 
              model="users" 
              source="getUsersByName(str)">
    </ion-search>
     <button class="button button-clear" ng-click="goSearch()">Search</button>
 </div>
      
 <div ng-repeat="user in users | filter:searchBox.value" ng-click="optionClick({{user}})" class="item">
             {{user.name}}
 </div>
    
    
  <ion-content  class="has-header has-subheader" >
       <ion-list>
           
       <ion-item class="item item-thumbnail-left"
               ng-repeat="item in localNews"
               type="item-text-wrap"
               href="#/tab/search/{{item.id}}">
         
       <img ng-src="{{ item.image }}">
              <h2>{{ item.title }}</h2>
              <div style="white-space:  normal">{{ item.shortDescription }}</div>
       </ion-item>
      <ion-item class="item">
         <img class="" ng-src="{{ggetImg('drakelogo.jpg')}}"> 
        
         <h4> Updated on 11:20:22 02/12/2017 Vermont</h4>
     </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
