<ion-view view-title="Drake International" >
   
  <ion-nav-title view-title="Drake International">
      <img src="img/drakelogo.jpg">
    </ion-nav-title>
    
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="goBack()">Back</button>
    </ion-nav-buttons>
    
    
  <div class="bar bar-subheader item-input-inset">
       <!--   <ion-search placeholder="Search a user" filter="search"></ion-search> -->
       
    <ion-search 
              class="search-wrapper-light" 
              search-Box="searchBox"  
              placeholder="Search a user" 
              min-length="0" 
              model="users" 
              source="getUsersByName(str)">
    </ion-search>
     <button class="button button-clear" ng-click="goSearch()">Search</button>
 </div>

  <ion-nav-view name="inception"></ion-nav-view>       

  
  <style>

  </style>
  
  <ion-content  class="has-header has-subheader" >
      <ion-list>
       <ion-item class="item item-thumbnail-left"
               ng-repeat="item in localNews"
               type="item-text-wrap"
               href="#/tab/search/{{item.id}}">
         
            <img ng-src="{{ item.image }}">
              <h2 class="divTitle">{{ item.title }}</h2>
              <div class="discripDiv">{{ item.shortDescription }}</div>
              <div class="divDistance">[Vermont]</div>
              
              <div class="bottomButtonsDiv">
                  <div class="bottomBtn">23/12/2015</div>
              </div>
              
       </ion-item>
          
      <ion-item class="item">
          <div class="divDistance"> Updated on 11:20:22 02/12/2017 Vermont</h4>
     </ion-item>
      </ion-list>
      
     
      

  </ion-content>
</ion-view>
