<ion-view view-title="Me">
    <ion-nav-buttons side="secondary">
            <button class="button button-clear" ng-click="doSomething()">Register</button>
    </ion-nav-buttons>
  <ion-content>
      
      <img class="hblogo" ng-src="img/drakelogo.jpg"/>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
       <button class="button button-full button-positive">
            Sign OnTest
       </button>
           
           
    </div>
  </ion-content>
</ion-view>
