<ion-view view-title="This is a substate">

    <ion-nav-buttons side="primary">
             <button class="button  button-clear" ng-click="goBack()">Back</button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="secondary">
       <button menu-toggle="right" class="button button-clear button-icon icon ion-navicon"></button><span class="badge badge-assertive">3</span>

    </ion-nav-buttons>

  <ion-content class="padding">
   

          <ion-radio  ng-repeat="item in items" ng-model="itemcheckedItem.checked" ng-value="item.name"  >{{item.name}}</ion-radio>
        
        <button class="button button-full" ng-click="checkedClick()">Save</button>
   
        <button class="button button-full" ng-click="playSound()">Play Music</button>
    
      
  </ion-content>
</ion-view>
