/* Empty. Add your own CSS if you like */
#map {
  width: 100%;
  height: 300px;
  background-color:grey;
}

.scroll {
  height: 100%;
}

IMG.hblogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}


.bar.item-input-inset .item-input-wrapper input {
    width: 100%;
}

.search-wrapper-light {
    border-bottom: 2px solid rgba(0,0,0,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    //color: #ffffff;
    color: #000000;
}