/* Empty. Add your own CSS if you like */

.scroll {
  height: 100%;
}

.mapBox{
   height:100%;  
   width:100%;
   background-color: grey; 
}

IMG.hblogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.testIcon {
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/calendar.png');
  background-size:  contain;
}


.bar.item-input-inset .item-input-wrapper input {
    width: 100%;
}

.search-wrapper-light {
    border-bottom: 2px solid rgba(0,0,0,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #000000;
}

.scroll-bg {
  background: url($big-bg) no-repeat center center fixed;
  background-size: cover;
}
     
      
      .divDistance{
          position:absolute;
          font-size: 0.8em;
          color: grey;
          right:2px;
          top:2px;
      }
      
      .divReview{
          position:absolute;
          font-size: 0.8em;
          color: grey;
          right:2px;
          bottom:2px;
      }
      
      .divRatesStar{
          position:absolute;
          font-size: 0.8em;
          color: grey;
          left:2px;
          bottom:2px;
      }
      
      .bottomButtonsDiv{
          position:absolute;
          bottom:5px;
      }
      
      .bottomBtn{
          float:left;
          font-size: 0.8em;
          color: grey;
          margin-right: 5px;
      }
      
      .itemButton{
          padding-left: 10px;
      }
      
      .item h2 {
        padding-right: 60px;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        margin: 0 0 0px 0;
        color: #666;
        font-size: 1em;
      }
      
      .discripDiv {
          white-space: normal;
          font-family: Helvetica, sans-serif;
          font-size: 0.9em;
          color: #666;
          margin-bottom: 30px;
          padding-right: 0px;
          padding-top:10px;
          word-wrap: break-word;
      }